* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Overpass;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(217, 12%, 63%);
  --mediumGrey: hsl(212, 8%, 55%);
  --darkBlue: hsl(213, 20%, 18%);
  --veryDarkBlue: hsl(215, 25%, 14%);
  --backgroundColor: hsl(228, 11%, 9%);
  --primaryOrange: hsl(25, 97%, 53%);
  --hoverOrange: hsl(25, 90%, 48%);
  --paragraphSize: 15px;
  --titleSize: 20px;
  --mobile: 375px;
  --desktop: 1440px;
}

body {
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  color: var(--mediumGrey);
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 415px;
  background-color: var(--veryDarkBlue);
  padding: 32px;
  border-radius: 30px;
}

/* STAR */

.material-symbols-outlined {
  width: 45px;
  height: 45px;
  color: var(--primaryOrange);
  background-color: var(--darkBlue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

/* TEXT */

p {
  line-height: 1.5;
}

h1 {
  font-weight: 400;
  color: var(--white);
  margin: 30px 0px 10px 0px;
}

/* BUTTON */

.submitButton {
  outline: 0;
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--primaryOrange);
  border: none;
  border-radius: 100px;
  height: 45px;
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submitButton:hover {
  background-color: var(--hoverOrange);
}

.submitButton:active {
  background-color: var(--white);
  color: var(--primaryOrange);
}

/* NUMBERS */

.numbers > ul {
  display: flex;
  justify-content: space-between;
}

.numbers > ul > li {
  cursor: pointer;
  margin: 25px 0px;
  background-color: var(--darkBlue);
  color: var(--mediumGrey);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.numbersClick {
  background-color: var(--primaryOrange);
  color: var(--white);
}

.numbers > ul > li:hover {
  background-color: var(--mediumGrey);
  color: var(--white);
}

.numbers > ul > li.selected {
  background-color: var(--primaryOrange);
  color: var(--white);
}
